body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: #901d1d;
  height: 10vh;
  display: flex;
  justify-content: start;

  #logo {
    padding: 1vw;
    width: 10%;
    margin-left: 2vw;
  }
}

#main {
  display: flex;
  height: 90vh;
  #left {
    width: 20vw;
    border-right: 1px solid #cacaca;
    background-color: #fafafa;
  }

  #dashboard {
    width: 80vw;
  }
}
